body {
  font-family: 'Open Sans Condensed';
  padding: 20px 80px;
}
a {
  text-decoration: none;
  color: black;
}

.footer {
  background: #950000;
  position: relative;
  padding-bottom: 10px;
  width: 100%;
}
