
.categories {
 height: 200px;
 width: auto;
 background-color: pink;

}
/* body {
  font-family: 'Open Sans Condensed';
  padding: 20px 80px;
}
imageSlide {
    width: 100%;
    height: 20px;
  }

a {
  text-decoration: none;
  color: black;
}

footer {
  background: #950000;
  position: relative;
  padding-bottom: 10px;
  width: 100%;
  
}
         */
.red{
  color:red
}
.bold{
  font-weight: bold;
}